<div id="template-address" class="templateDiv">
    <div class="tabs">
	<ul>
	    <li id="tab-group_address"><a href="#panel-group_address">Group Address Table</a></li>
	    <li id="tab-address"><a href="#panel-address">Address Table</a></li>
	</ul>
	<div id="panel-group_address" class="panelDiv">
	    <div id="div-group_address" class="tableDiv">
	    <form id="form-group_address">
	    <table id="table-group_address" class="Create Remove">
		<thead>
		    <tr>
			<th class="checkboxCol"></th>
			<th id="groupNum">#</th>
			<th class="tooltipCol" id="groupName">Name</th>
			<th class="tooltipCol" id="groupDetail">Address Detail</th>
			<th class="tooltipCol" id="groupType">Type</th>
			<th class="Edit Delete">Action</th>
		    </tr>
		</thead>
	    </table>
	    </form>
	    </div>
	</div>
	<div id="panel-address" class="panelDiv">
	    <div id="div-address" class="tableDiv">
	    <form id="form-address">
	    <table id="table-address"" class="Create Remove">
		<thead>
		    <tr>
			<th class="checkboxCol"></th>
			<th id="num">#</th>
			<th id="name">Name</th>
			<th id="detail">Address Detail</th>
			<th id="type">Type</th>
			<th class="Edit Delete">Action</th>
		    </tr>
		</thead>
	    </table>
	    </form>
	    </div>
	</div>
    </div>
</div>
