<div id="template-advanced_nat"  class="templateDiv">
<div id="div-advanced_nat" class="tableDiv Confirm">
    <table id="table-advanced_nat" class="Create Remove">
	<thead>
	    <tr>
		<th class="checkboxCol"></th>
		<th id="seq">Seq</th>
		<th id="enabled">Enable</th>
		<th id="fromIf">From</th>
		<th id="toIf">To</th>
		<th id="originalSrc">Original Source Address</th>
		<th id="originalDst">Original Destination Address</th>
		<th id="originalService">Original Services</th>
		<th id="translatedSrc">Translated Source Address</th>
		<th id="translatedDst">Translated Destination Address</th>
		<th id="translatedService">Translated Services</th>
		<th class="Edit Delete">Action</th>
	    </tr>
        </thead>
    </table>
</div>
</div>
