<div id="template-alg"  class="templateDiv">
<div id="div-alg" class="formDiv Confirm">
    <form id="form-alg">
	<div class="labelDiv">
	    <div>
	        <input type="checkbox" id="sip" value="sip" />
	        <label id="sip">SIP Protocol Support</label>
	    </div>
	    <div>
	        <input type="checkbox" id="h323" value="h323" />
	        <label id="h323">H.323 Support</label>
	    </div>
	    <div>
	        <input type="checkbox" id="ftp" value="ftp" />
	        <label id="ftp">FTP</label>
	    </div>
	</div>
    </form>
</div>
</div>
