<div id="template-backup_restore" class="templateDiv">
<div class="labelDiv">
<form id="form-backup_restore" enctype="multipart/form-data" action="/" method="post">
    <div class="accordions Blocks">
	<h4><a href="#">Configuration Backup</a></h4>
	<div>
        <button id="backup">Backup</button>
	</div>
    </div>
    <div class="accordions Blocks">
	<h4><a href="#">Restore Configration</a></h4>
	<div>
       	<label for="browse">Restore Configuration From PC Path</label>
       	<input id="browse" type="file" /><br />
        <button id="restore">Restore</button>
	</div>
    </div>
</form>
</div>
</div>
