<div id="template-dmz" class="Confirm">
<div class="labelDiv">
    <input id="enable" type="checkbox" value="Y" /><label for="enable">Enable</label>
</div>
<div class="tableDiv" id="enable-Y">
    <table id="table-dmz" class="Edit Create Delete">
	<thead>
	    <tr>
		<th id="table-th-name">Name</th>
		<th id="table-th-vid">VID</th>
		<th id="table-th-dhcp_pool">DHCP Pool</th>
		<th id="table-th-address">Address</th>
		<th id="table-th-physical_port">Physical Port</th>
		<th id="table-th-zone">Zone</th>
		<th id="table-th-action">Action</th>
	    </tr>
        </thead>
    </table>
</div>
<div class="cahceForm">
    <form id="ajax-dmz" class="ajaxForm"></form>
</div>
</div>
