<div id="template-dynamic_pat"  class="templateDiv">
    <div class="tabs">
	<ul>
	    <li id="tab-pat_settings"><a href="#panel-pat_settings">PAT Settings</a></li>
	    <li id="tab-wan_address_settings"><a href="#panel-wan_address_settings">WAN Address Settings</a></li>
	</ul>
	<div id="panel-pat_settings" class="panelDiv">
	    <div id="div-pat_settings" class="tableDiv Confirm">
		<table id="table-pat_settings">
		    <thead>
		    	<tr>
			    <th id="interfaceName">Interface Name</th>
			    <th id="address">Interface Address</th>
			    <th class="checkboxCol" id="enableWan1">Enable WAN1</th>
			    <th class="checkboxCol" id="enableWan2">Enable WAN2</th>
			    <th class="checkboxCol" id="enableWan3">Enable WAN3</th>
			    <th class="checkboxCol" id="enableWan4">Enable WAN4</th>
			    <th class="checkboxCol" id="enableWan5">Enable WAN5</th>
			    <th class="checkboxCol" id="enableWan6">Enable WAN6</th>
		    	</tr>
		    </thead>
		</table>
	    </div>
	</div>
	<div id="panel-wan_address_settings" class="panelDiv">
	    <div id="div-wan_address_settings" class="tableDiv Confirm">
	    	<table id="table-wan_address_settings">
		    <thead>
		    	<tr>
			    <th id="wanName">WAN</th>
			    <th id="mode">Mode</th>
			    <th id="addressId">Address</th>
			    <th class="Edit">Action</th>
		    	</tr>
		    </thead>
	    	</table>
	    </div>
	</div>
    </div>
</div>
