<div id="template-general_settings" class="Confirm">

<table id="table-general_settings" class="DualList">
	<tr>
	    <td>Enable</td><td><input type="checkbox" /></td>
	</tr>
	<tr>
	    <td>Zone to Scan</td>
	    <td>
		<select id="zone_to_scan">
		<option value="">--Select from Existing Zone List--</option>
		</select>
	    </td>
	</tr>
	<tr>
	    <td>Applications to Scan</td>
	    <td>
		<table>
		<tr>
		    <td>HTTP</td>
		    <td>
			<table>
			<tr>
			    <td>Enable</td>
			    <td><input type="checkbox" /></td>
			</tr>
			<tr>
			    <td>Logging</td>
			    <td></td>
			</tr>
			<tr>
			    <td>Action</td>
			    <td></td>
			</tr>
			</table>
		    </td>
		</tr>
		<tr>
		    <td>FTP</td>
		    <td>
			<table>
			<tr>
			    <td>Enable</td>
			    <td><input type="checkbox" /></td>
			</tr>
			<tr>
			    <td>Logging</td>
			    <td></td>
			</tr>
			<tr>
			    <td>Action</td>
			    <td></td>
			</tr>
			</table>
		    </td>
		</tr>
		<tr>
		    <td>SMTP Email Attachments</td>
		    <td>
			<table>
			<tr>
			    <td>Enable</td>
			    <td><input type="checkbox" /></td>
			</tr>
			<tr>
			    <td>Logging</td>
			    <td></td>
			</tr>
			<tr>
			    <td>Action</td>
			    <td></td>
			</tr>
			</table>
		    </td>
		</tr>
		<tr>
		    <td>POP3 Email Attachments</td>
		    <td>
			<table>
			<tr>
			    <td>Enable</td>
			    <td><input type="checkbox" /></td>
			</tr>
			<tr>
			    <td>Logging</td>
			    <td></td>
			</tr>
			<tr>
			    <td>Action</td>
			    <td></td>
			</tr>
			</table>
		    </td>
		</tr>
		<tr>
		    <td>IMAP Email Attachments</td>
		    <td>
			<table>
			<tr>
			    <td>Enable</td>
			    <td><input type="checkbox" /></td>
			</tr>
			<tr>
			    <td>Logging</td>
			    <td></td>
			</tr>
			<tr>
			    <td>Action</td>
			    <td></td>
			</tr>
			</table>
		    </td>
		</tr>
		<tr>
		    <td>NETBIOS/CIFS</td>
		    <td>
			<table>
			<tr>
			    <td>Enable</td>
			    <td><input type="checkbox" /></td>
			</tr>
			<tr>
			    <td>Logging</td>
			    <td></td>
			</tr>
			<tr>
			    <td>Action</td>
			    <td></td>
			</tr>
			</table>
		    </td>
		</tr>
		</table>
	    </td>	
	</tr>
	<tr>
	    <td>Maximum File Size to Scan</td>
	    <td></td>
	</tr>
</table>

</div>

</div>
