<div id="template-ipsec_policies"  class="templateDiv">

<div id="div-ipsec_policies" class="formDiv Confirm">

    <div class="labelDiv">
        <input id="s2svpnEnable" type="checkbox" value="1" /><label for="enable">Enable</label>
    </div>
    <div id="div-ipsec_policies" class="tableDiv">
    <table id="table-ipsec_policies" class="Create Remove Refresh">
	<thead>
	    <tr>
		<th class="checkboxCol"></th>
		<th id="name">Name</th>
		<th id="enable">Enable</th>
		<th id="infoStatus">Status</th>
		<th id="wanId">Wan Interface</th>
		<th id="remoteGw">Peers</th>
		<th id="localNetworkId">Local</th>
		<th id="remoteNetworkId">Remote</th>
		<th id="ikePolicyId">IKE Policy</th>
		<th id="transformPolicyId">Transform</th>
		<th class="Edit Delete Connect Disconnect">Action</th>
	    </tr>
        </thead>
    </table>
    </div>

</div>

</div>
