<div id="template-license"  class="templateDiv">

<div class="tabs">
    <ul>
	<li id="tab-overview"><a href="#panel-overview">Overview</a></li>
	<li id="tab-installation"><a href="#panel-installation">Installation</a></li>
    </ul>
    <div id="panel-overview" class="panelDiv">
	<div class="accordions Halfs">
	    <h4><a href="#">Base License</a></h4>
	    <div class="tableDiv">
		<table id="table-base_license" class="DualList Halfs">
		    <tr>
		    	<th id="licenseId">License ID</th>
		    </tr>
		    <tr>
		    	<th id="registrationDate">Registration Date</th>
		    </tr>
		    <tr>
		    	<th id="licenseRevision">License Revision</th>
		    </tr>
		    <tr>
		    	<th id="special">Special</th>
		    </tr>
		    <tr>
		    	<th id="type">Type</th>
		    </tr>
		    <tr>
		    	<th id="model">Model</th>
		    </tr>
		    <tr>
		    	<th id="maxUsers">Max. Users</th>
		    </tr>
		    <tr>
		    	<th id="maxConnections">Max. Connections</th>
		    </tr>
		</table>
	    </div>
	</div>
	<div class="accordions Halfs">
	    <h4><a href="#">Antivirus</a></h4>
	    <div class="tableDiv">
		<table id="table-antivirus" class="DualList Halfs">
		    <tr>
		    	<th id="avStatus">Status</th>
		    </tr>
		    <tr>
		    	<th id="avExpiredDate">Expired Date</th>
		    </tr>
		    <tr>
		    	<th id="avDescription">Description</th>
		    </tr>
		</table>
	    </div>
	</div>
	<div class="accordions Halfs">
	    <h4><a href="#">Support Service</a></h4>
	    <div class="tableDiv">
		<table id="table-support_service" class="DualList Halfs">
		    <tr>
		    	<th id="ssType">Type</th>
		    </tr>
		    <tr>
		    	<th id="ssSattus">Stauts</th>
		    </tr>
		    <tr>
		    	<th id="ssExpiredDate">Expired Date</th>
		    </tr>
		    <tr>
		    	<th id="ssDescription">Description</th>
		    </tr>
		</table>
	    </div>
	</div>
    </div>
    <div id="panel-installation" class="panelDiv">
	<div class="accordions Halfs">
	    <h4><a href="#">Manual Installation</a></h4>
	    <div class="labelDiv">
		<form id="form-manual_installation" enctype="multipart/form-data" action="/" method="post">
		    <label for="browse">Path</label>
		    <input id="browse" type="file" />
		    <button id="form-install">Install</button>
		</form>
	    </div>
	</div>
    </div>
</div>

</div>
