<div id="template-log_settings">

<div class="accordions Confirm" >
<table id="table-log_settings" class="tables">
	<tr>
	    <td>Enable</td><td><input type="checkbox" /></td>
	</tr>
	<tr>
	    <td>Traffic Logs</td>
	    <td>
		<table>
		<tr>		
		    <td>All Unitcast Log</td><td><input type="checkbox" /></td>
		</tr>
		<tr>		
		    <td>All BC/Multicast Log</td><td><input type="checkbox" /></td>
		</tr>
		</table>
	    </td>
	</tr>
	<tr>
	    <td>Local Log</td>
	    <td>
		<table>
		<tr>
		    <td>Enable</td><td><input type="checkbox" /></td>
		</tr>
		<tr>
		    <td>Severity</td>
		    <td>
			<select id="local_log_severity_selec">
			<option value="">Emergency</option>
			<option value="">Alert</option>
			<option value="">Critical</option>
			<option value="">Error</option>
			<option value="">Warning</option>
			<option value="">Notification</option>
			<option value="">Information</option>
			<option value="">Debugging</option>
			</select>
		    </td>
		</tr>
		</table>
	    </td>	
	</tr>
	<tr>
	    <td>Remote Log</td>
	    <td>
		<table>
		<tr>
		    <td>Enable</td><td><input type="checkbox" /></td>
		</tr>
		<tr>
		    <td>Severity</td>
		    <td>
			<select id="local_log_severity_selec">
			<option value="">Emergency</option>
			<option value="">Alert</option>
			<option value="">Critical</option>
			<option value="">Error</option>
			<option value="">Warning</option>
			<option value="">Notification</option>
			<option value="">Information</option>
			<option value="">Debugging</option>
			</select>
		    </td>
		</tr>
		</table>
	    </td>	
	</tr>
	<tr>
	    <td>Email Alert</td>
	    <td></td>
	</tr>
</table>

</div>

</div>
