<div id="loginDiv">
    <form id="form-login">
        <fieldset>
            <legend><b>Please Login to Device Management</b></legend>
	    <table class="DualInput">
		<tr>
		    <th class="userName">User Name : </th>
		    <td><input type="text" id="userName" /></td>
		</tr>
		<tr>
		    <th class="userPass">Password : </th>
		    <td><input type="password" id="userPass" /></td>
		</tr>
		<tr>
		    <th class="guiLang">Language : </th>
		    <td>
			<select id="guiLang">
			<option value="en">English</option>
			<option value="tw" disabled="disabled">繁體中文</option>
			<option value="cn" disabled="disabled">简体中文</option>
			</select>
		    </td>
		</tr>
	    </table>
            <div><button class="loginButton" id="loginButton"><b>Login</b></button></div>
        </fieldset>
    </form>
</div>
