<div id="template-logs_facility" class="Confirm">

    <table id="table-logs_facility" class="DualList">
	<tr>
	    <td>Name</td>
	    <td>
		<select id="logs_facility_name">
		<option value="">Kernel</option>
		<option value="">System</option>
		<option value="">Firewall</option>
		<option value="">NAT</option>
		<option value="">Network</option>
		<option value="">Site-to-Site VPN</option>
		<option value="">User</option>
		<option value="">Security Services</option>
		</select>
	    </td>
	</tr>
	<tr>
	    <td>Local Log</td><td><input type="checkbox" /></td>
	</tr>
	<tr>
	    <td>Remot Log</td><td><input type="checkbox" /></td>
	</tr>
	<tr>
	    <td>Email Alert</td><td></td>
        </tr>
    </table>

</div>
