<div id="template-management_interface_settings"  class="templateDiv">

<div id="div-management_interface_settings" class="labelDiv Confirm">
    <div class="labelDiv">
	<div>
    	    <label for="httpPort">HTTP Listen Port Number </label>
	    <input type="text" id="httpPort" /> (default:80)
	</div>
	<div>
    	    <label for="httpsPort">HTTPS Listen Port Number</label>
	    <input type="text" id="httpsPort" /> (default:443)
	</div>
	<div>
    	    <label for="sshPort">SSH Listen Port Number</label> 
	    <input type="text" id="sshPort" /> (default:22)
	</div>
    </div>
    <div id="div-management_interface_settings" class="tableDiv">
    <table id="table-management_interface_settings" class="">
	<thead>
	    <tr>
		<th id="interface">Interface</th>
		<th id="ping">Ping</th>
		<th id="http">HTTP</th>
		<th id="https">HTTPS</th>
		<th id="snmp">SNMP</th>
		<th id="ssh">SSH</th>
		<th id="allow_access">Allow Access</th>
		<th class="Edit">Action</th>
	    </tr>
        </thead>
    </table>
    </div>
</div>
    <div class="cahceForm"><form id="ajax-management_interface_settings" class="ajaxForm"></form></div>
</div>
