    <div class="menu">
    	<h3 id="dashboard" class="menuTab"><a href="#">${label}</a></h3>
	<div class="menuPanel">
	    <h4 id="system_dashboard"><a href="#">${label}</a></h4>        
	    <h4 id="network_dashboard"><a href="#">${label}</a></h4>
	    <h4 id="security_dashboard"><a href="#">${label}</a></h4>
        </div>
    	<h3 id="reports" class="menuTab"><a href="#">${label}</a></h3>
	<div class="menuPanel">
            <h4 id="network"><a href="#">${label}</a></h4>
            <h4 id="system_status"><a href="#">${label}</a></h4>
            <h4 id="nat_status"><a href="#">${label}</a></h4>
            <h4 id="active_users"><a href="#">${label}</a></h4>
            <h4 id="vpn_status"><a href="#">${label}</a></h4>
            <h4 id="security_summary"><a href="#">${label}</a></h4>
            <h4 id="network_reports"><a href="#">${label}</a></h4>
            <h4 id="security_reports"><a href="#">${label}</a></h4>
        </div>
    	<h3 id="interface" class="menuTab"><a href="#">$(label}</a></h3>
	<div class="menuPanel">
        
        </div>
    	<h3 id="networking" class="menuTab"><a href="#">${label}</a></h3>
	<div class="menuPanel">
        
        </div>
    	<h3 id="firewall" class="menuTab"><a href="#">${label}</a></h3>
	<div class="menuPanel">
        
        </div>
    	<h3 id="security" class="menuTab"><a href="#">${label}</a></h3>
	<div class="menuPanel">
        
        </div>
    	<h3 id="users" class="menuTab"><a href="#">${label}</a></h3>
	<div class="menuPanel">
        
        </div>
    	<h3 id="device" class="menuTab"><a href="#">${label}</a></h3>
	<div class="menuPanel">
        
        </div>
    </div>
