<div id="template-multiple_wan_settings" class="formDiv Confirm">
<form id="form-multiple_wan_settings">
    <div class="labelDiv">
    	<div>
	    <input type="radio" id="weightedLoadBalancingAndFailover" name="modeRadio" value="W" />
	    <label for="weightedLoadBalancingAndFailover">Weighted Load Balancing and Failover</label>
	    <div>
	        <label for="detectionPeriod">Detection Period</label><br/>
	        <input type="text" id="detectionPeriod" />
	    </div>
	    <div>
	    	<label for="detectionRetryCount">Detection Retry Count</label><br />
	    	<input type="text" id="detectionRetryCount" />
	    </div>
	</div>
	<div>
	    <input type="radio" id="routingTableMode" name="modeRadio" value="R" />
	    <label for="routingTableMode">Routing Table Mode</label>
	</div>
    </div>
</div>
