<div id="template-nat_status"  class="templateDiv">
<div class="tableDiv">
    <table id="table-nat_status" class="Refresh">
	<thead>
	    <tr>
		<th id="index">#</th>
		<th id="originalSrcAddr">Original Source Address</th>
		<th id="originalSrcPort">Source Port</th>
		<th id="originalDstAddr">Original Destination Address</th>
		<th id="originalDstPort">Destination Port</th>
		<th id="translatedSrcAddr">Translated Source Address</th>
		<th id="translatedSrcPort">Translated Source Port</th>
		<th id="translatedDstAddr">Translated Destination Address</th>
		<th id="translatedDstPort">Translated Destination Port</th>
		<th id="txPkt">Tx Packet Count</th>
		<th id="rxPkt">Rx Packet Count</th>
		<th id="txByte">Tx Bytes</th>
		<th id="rxByte">Rx Bytes</th>
	    </tr>
        </thead>
    </table>
</div>
</div>
