<div id="template-network_dashboard" class="templateDiv">

<div id="top_traffic_direction" class="accordions Halfs">
    <h4><a href="#">Top Traffic Direction</a><img class="Close" src="css/images/close.png" alt="Hide Information" /></h4>
    <div class="tableDiv">
    	<table id="table-top_traffic_direction" class="List">
            <thead>
	    	<tr>
		    <th id="table-th-top_traffic_direction-from_zone" style="width:25%">From Zone</th>
		    <th id="table-th-top_traffic_direction-to_zone" style="width:25%">To Zone</th>
		    <th id="table-th-top_traffic_direction-traffic_amount" style="width:25%">Traffic Amount</th>
		    <th id="table-th-top_traffic_direction-session" style="width:25%">Session</th>
	    	</tr>
            </thead>
    	</table>
    </div>
</div>
<div id="top_source" class="accordions Halfs">
    <h4><a href="#">Top Source</a><img class="Close" src="css/images/close.png" alt="Hide Information" /></h4>
    <div class="tableDiv">
    	<table id="table-top_source" class="List">
            <thead>
	    	<tr>
		    <th id="table-th-top_source-ip" style="width:25%">IP</th>
		    <th id="table-th-top_source-upstream" style="width:25%">Upstream</th>
		    <th id="table-th-top_source-downstream" style="width:25%">Downstream</th>
		    <th id="table-th-top_source-sessions" style="width:25%">Sessions</th>
	    	</tr>
            </thead>
    	</table>
    </div>
</div>
<div id="top_destination" class="accordions Halfs">
    <h4><a href="#">Top Destination</a><img class="Close" src="css/images/close.png" alt="Hide Information" /></h4>
    <div class="tableDiv">
    	<table id="table-top_destination" class="List">
            <thead>
	    	<tr>
		    <th id="table-th-top_destination-ip" style="width:25%">IP</th>
		    <th id="table-th-top_destination-upstream" style="width:25%">Upstream</th>
		    <th id="table-th-top_destination-downstream" style="width:25%">Downstream</th>
		    <th id="table-th-top_destination-sessions" style="width:25%">Sessions</th>
	    	</tr>
            </thead>
    	</table>
    </div>
</div>

</div>

