<div id="template-port_trigger" class="templateDiv">

<div id="div-port_trigger" class="tableDiv Confirm">
    <table id="table-port_trigger" class="Create Remove">
	<thead>
	    <tr>
		<th class="checkboxCol"></th>
		<th id="seq">Seq</th>
		<th id="description">Description</th>
		<th id="triggerService">Trigger Service</th>
		<th id="openedService">Opened Service</th>
		<th class="Edit Delete">Action</th>
	    </tr>
	</thead>
    </table>
</div>
<div class="cahceForm"><form id="ajax-port_trigger" class="ajaxForm"></form></div>



</div>
