<div id="template-reboot_reset_shutdown"  class="templateDiv">
<div class="formDiv">
	<div class="accordions">
	    <h4><a href="#">Reboot</a></h4>
	    <div>
	    <button id="reboot">Reboot</button>
	    </div>
	</div>
	<div class="accordions">
	    <h4><a href="#">Reset Factory Defaults</a></h4>
	    <div>
	    <button id="reset">Reset</button>
	    </div>
	</div>
	<div class="accordions">
	    <h4><a href="#">Shutdown</a></h4>
	    <div>
	    <button id="shutdown">Shutdown</button>
	    </div>
	</div>
</div>
</div>
