<div id="template-routing"  class="templateDiv">
<div id="div-routing" class="labelDiv Confirm">
    <form id="form-routing" class="templateForm">
	<div class="accordions Halfs">
	    <h4><a href="#">Routing Mode Between WAN and LAN</a></h4>
	    <div >
		<div>
		    <input type="radio" id="routeMode-0" name="routeMode" value="0" />
		    <label for="routeMode-0">NAT</label>
		</div>
		<div>
		    <input type="radio" id="routeMode-1" name="routeMode" value="1" />
		    <label for="routeMode-1">Classical Routing</label>
		</div>
	    </div>
	</div>
	<div class="accordions Halfs">
	    <h4><a href="#">Protocol</a></h4>
	    <div >
	    	<div>
	    	    <input type="radio" id="protoType-1" name="protoType" value="1" />
	    	    <label for="protoType-1">IPv4 Only</label>
	    	</div>
	    	<div>
	    	    <input type="radio" id="protoType-3" name="protoType" value="3" />
	    	    <label for="protoType-3">IPv4 or IPv6</label>
		</div>
	    </div>
	</div>
    </form>
</div>
</div>
