<div id="template-security_dashboard" class="templateDiv">

<div id="top_file_extension" class="accordions Halfs">
    <h4><a href="#">Top File Extension</a><img class="Close" src="css/images/close.png" alt="Hide Information" /></h4>
    <div class="tableDiv">
    	<table id="table-top_file_extension" class="List">
            <thead>
	    	<tr>
		    <th id="table-th-top_file_extension-extension" style="width:50%">Extension</th>
		    <th id="table-th-top_file_extension-access_count" style="width:50%">Access Count</th>
	    	</tr>
            </thead>
    	</table>
    </div>
</div>
<div id="top_affected_host" class="accordions Halfs">
    <h4><a href="#">Top Affected Host</a><img class="Close" src="css/images/close.png" alt="Hide Information" /></h4>
    <div class="tableDiv">
    	<table id="table-top_affected_host" class="List">
            <thead>
	    	<tr>
		    <th id="table-th-top_affected_host-host_ip_user" style="width:27%">Host IP/User</th>
		    <th id="table-th-top_affected_host-signature_hit_counts" style="width:38%">Signature Hit Counts</th>
		    <th id="table-th-top_affected_host-virus_hit_counts" style="width:35%">Virus Hit Counts</th>
	    	</tr>
            </thead>
    	</table>
    </div>
</div>
<div id="top_virus_name" class="accordions Halfs">
    <h4><a href="#">Top Virus Name</a><img class="Close" src="css/images/close.png" alt="Hide Information" /></h4>
    <div class="tableDiv">
    	<table id="table-top_virus_name" class="List">
            <thead>
	    	<tr>
		    <th id="table-th-top_virus_name-virus_name" style="width:50%">Virus Name</th>
		    <th id="table-th-top_virus_name-hit_count" style="width:50%">Hit Count</th>
	    	</tr>
            </thead>
    	</table>
    </div>
</div>
<div id="top_blocked_host" class="accordions Halfs">
    <h4><a href="#">Top Blocked Host</a><img class="Close" src="css/images/close.png" alt="Hide Information" /></h4>
    <div class="tableDiv">
    	<table id="table-top_blocked_host" class="List">
            <thead>
	    	<tr>
		    <th id="table-th-top_blocked_host-host_ip_user" rowspan="2" style="width:30%">Host IP/User</th>
		    <th class="Colspans" id="table-th-top_blocked_host-block_counts" colspan="2" style="width:70%">Block Counts</th>
	    	</tr>
	  	<tr>
		    <th id="table-th-top_blocked_host-virus">Virus</th>
		    <th id="table-th-top_blocked_host-firewall">Firewall</th>
		</tr>
            </thead>
    	</table>
    </div>
</div>

</div>

