<div id="template-service" class="templateDiv">
    <div class="tabs">
	<ul>
	    <li id="tab-group_service"><a href="#panel-group_service">Group Service Table</a></li>
	    <li id="tab-service"><a href="#panel-service">Service Table</a></li>
	</ul>
	<div id="panel-group_service" class="panelDiv">
	    <div id="div-group_service" class="tableDiv">
	    <form id="form-group_service">
	    <table id="table-group_service" class="Create Remove">
		<thead>
		    <tr>
			<th class="checkboxCol"></th>
			<th id="groupNum">#</th>
			<th class="tooltipCol" id="groupName">Name</th>
			<th class="tooltipCol" id="groupType">Protocol</th>
			<th class="tooltipCol" id="groupParam1">Port Start</th>
			<th class="tooltipCol" id="groupParam2">Port End</th>
			<th class="Edit Delete">Action</th>
		    </tr>
		</thead>
	    </table>
	    </form>
	    </div>
	</div>
	<div id="panel-service" class="panelDiv">
	    <div id="div-service" class="tableDiv">
	    <form id="form-service">
	    <table id="table-service" class="Create Remove">
		<thead>
		    <tr>
			<th class="checkboxCol"></th>
			<th id="num">#</th>
			<th id="name">Name</th>
			<th id="type">Protocol</th>
			<th id="param1">Port Start</th>
			<th id="param2">Port End</th>
			<th class="Edit Delete">Action</th>
		    </tr>
		</thead>
	    </table>
	    </form>
	    </div>
	</div>
    </div>
</div>
