<div id="template-session_settings"  class="templateDiv">
    <div id="div-session_settings" class="labelDiv Confirm">
<form id="form-session_settings">
	    <label for="maxConnection">Maximum Number of Connection</label>
	<div>
	    <input type="text" id="maxConnection" />
	</div>
	    <label for="tcpTimeout">TCP Timeout</label>
	<div>
	    <input type="text" id="tpcTimeout" />
	</div>
	    <label for="udpTimeout">UDP Timeout</label>
	<div>
	    <input type="text" id="udpTimeout" />
	</div>
	    <label for="otherTimeout">Other Session Timeout Duration</label>
	<div>
	    <input type="text" id="otherTimeout" />
	</div>
</form>
    </div>
</div>
