<div id="template-status_summary"  class="templateDiv">

<div class="tabs">
    <ul>
	<li id="tab-port"><a href="#panel-port">Port Table</a></li>
	<li id="tab-vlan"><a href="#panel-vlan">VLAN Interface Table</a></li>
	<li id="tab-wan"><a href="#panel-wan">WAN Table</a></li>
	<li id="tab-lan"><a href="#panel-lan">LAN Table</a></li>
    </ul>
    <div id="panel-port" class="panelDiv">
	<div class="tableDiv">
	<table id="table-port" class="Refresh">
	    <thead>
		<tr>
		    <th id="portName">Name</th>
		    <th id="portLan">LAN</th>
		    <th id="portDhcpPool">DHCP Pool</th>
		    <th id="portAddress">Address</th>
		    <th id="portZone">Zone</th>
		    <th id="portLinkState">Link State</th>
		    <th id="portLinkSettings">Link Settings</th>
		</tr>
	    </thead>
	</table>
	</div>
    </div>
    <div id="panel-vlan" class="panelDiv">
	<div class="tableDiv">
        <table id="table-vlan" class="Refresh">
            <thead>
                <tr>
                    <th id="vlanName">Name</th>
                    <th id="vlanLan">LAN</th>
                    <th id="vlanDhcpPool">DHCP Pool</th>
                    <th id="vlanAddress">Address</th>
                    <th id="vlanZone">Zone</th>
                    <th id="vlanPhysicalPort">Physical Port</th>
                    <th id="vlanVid">VID</th>
                </tr>
            </thead>
        </table>
	</div>
    </div>
    <div id="panel-wan" class="panelDiv">
	<div class="tableDiv">
	<table id="table-wan" class="Refresh">
	    <thead>
		<tr>
		    <th id="wanName">Name</th>
		    <th id="wanIpAssignmentMethod">IP Assignment Method</th>
		    <th id="wanConnectionTime">Connection Time</th>
		    <th id="wanConnectionState">Connection State</th>
		    <th id="wanIpAddress">IP Address</th>
		    <th id="wanSubnetMask">Subnet Mask</th>
		    <th id="wanGateway">Gateway</th>
		    <th id="wanDnsServer">DNS Server</th>
		    <th id="wanPhysicalPort">Physical Port</th>
		    <th id="wanLinkState">Link State</th>
		    <th id="wanDhcpServer">DHCP Server</th>
		    <th id="wanLeaseObtained">Lease Obtained</th>
		    <th id="wanLeaseDuration">Lease Duration</th>
		    <th id="wanMacAddress">MAC Address</th>
		    <th id="wanZone">Zone</th>
		</tr>
	    </thead>
	</table>
	</div>
    </div>
    <div id="panel-lan" class="panelDiv">
	<div class="tableDiv">
	<table id="table-lan" class="Refresh">
	    <thead>
		<tr>
		    <th id="lanName">Name</th>
		    <th id="lanDhcpPool">DHCP Pool</th>
		    <th id="lanAddress">Address</th>
		    <th id="lanZone">Zone</th>
		    <th id="lanPortList">Port List</th>
		    <th id="lanMacAddress">MAC Address</th>
		</tr>
	    </thead>
	</table>
	</div>
    </div>
</div>

</div>
