<div id="template-traffic_statistics"  class="templateDiv">

    <div class="tabs">
	<ul>
	    <li id="tab-port"><a href="#panel-port">Port Table</a></li>
	    <li id="tab-vlan"><a href="#panel-vlan">VLAN Interface Table</a></li>
	    <li id="tab-wan"><a href="#panel-wan">WAN Table</a></li>
	    <li id="tab-lan"><a href="#panel-lan">LAN Table</a></li>
	</ul>
	<div id="panel-port">
	    <div class="tableDiv">
	    <table id="table-port" class="Refresh">
		<thead>
		    <tr>
			<th id="port-name">Name</th>
			<th id="port-linkStatus">Link Status</th>
			<th id="port-txPkts">Tx Pkts</th>
			<th id="port-rxPkts">Rx Pkts</th>
			<th id="port-collisions">Collisions</th>
			<th id="port-txBps">Tx B/s</th>
			<th id="port-rxBps">Rx B/s</th>
			<th id="port-uptime">Up Time</th>
		    </tr>
		</thead>
	    </table>
	    </div>
	</div>
	<div id="panel-vlan">
	    <div class="tableDiv">
	    <table id="table-vlan" class="Refresh">
		<thead>
		    <tr>
			<th id="vlan-name">Name</th>
			<th id="vlan-txPkts">Tx Pkts</th>
			<th id="vlan-rxPkts">Rx Pkts</th>
			<th id="vlan-collisions">Collisions</th>
			<th id="vlan-txBps">Tx B/s</th>
			<th id="vlan-rxBps">Rx B/s</th>
			<th id="vlan-uptime">Up Time</th>
		    </tr>
		</thead>
	    </table>
	    </div>
	</div>
	<div id="panel-wan">
	    <div class="tableDiv">
	    <table id="table-wan" class="Refresh">
		<thead>
		    <tr>
			<th id="wan-name"">Name</th>
			<th id="wan-txPkts">Tx Pkts</th>
			<th id="wan-rxPkts">Rx Pkts</th>
			<th id="wan-collisions">Collisions</th>
			<th id="wan-txBps">Tx B/s</th>
			<th id="wan-rxBps">Rx B/s</th>
			<th id="wan-uptime">Up Time</th>
		    </tr>
		</thead>
	    </table>
	    </div>
	</div>
	<div id="panel-lan">
	    <div class="tableDiv">
	    <table id="table-lan" class="Refresh">
		<thead>
		    <tr>
			<th id="lan-name">Name</th>
			<th id="lan-txPkts">Tx Pkts</th>
			<th id="lan-rxPkts">Rx Pkts</th>
			<th id="lan-collisions">Collisions</th>
			<th id="lan-txBps">Tx B/s</th>
			<th id="lan-rxBps">Rx B/s</th>
			<th id="lan-uptime">Up Time</th>
		    </tr>
		</thead>
	    </table>
	    </div>
	</div>
    </div>
</div>
