<div id="template-users_and_groups"  class="templateDiv">
    <div class="tabs">
	<ul>
	    <li id="tab-group"><a href="#panel-group">Group Table</a></li>
	    <li id="tab-user"><a href="#panel-user">User Table</a></li>
	</ul>
	<div id="panel-group" class="panelDiv">
	    <div id="div-group" class="tableDiv Confirm">
            <form id="form-group">
	    	<table id="table-group" class="Create Remove">
		<thead>
		    <tr>
			<th class="checkboxCol"></th>
			<th id="groupName">Name</th>
			<th id="groupMember">User Membership List</th>
			<th id="groupServices">Services</th>
			<th class="Edit Delete">Action</th>
		    </tr>
		</thead>
	    	</table>
	    </form>
	    </div>
	</div>
	<div id="panel-user" class="panelDiv">
	    <div id="div-user" class="tableDiv Confirm">
	    <form id="form-user">
	    	<table id="table-user" class="Create Remove">
		<thead>
		    <tr>
			<th class="checkboxCol"></th>
			<th id="userName">Name</th>
			<th id="userGroup">Group</th>
			<th class="Edit Delete">Action</th>
		    </tr>
		</thead>
	    	</table>
	    </form>
	    </div>
	</div>
    </div>
</div>
