<div id="template-user_authenication">
    <div class="tabs relative">
	<ul>
	    <li id="tab-authenication_method"><a href="#panel-authenication_method">Authenication Method</a></li>
	    <li id="tab-radius_settings"><a href="#panel-radius_settings">Radius Settings</a></li>
	    <li id="tab-ldap_settings"><a href="#panel-ldap_settings">LDAP Settings</a></li>
	</ul>
	<div id="panel-authenication_method">
	    <table id="authenication_method_table">
		<thead>
		    <tr>
			<td>Authenication Method</td>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>
			    <select id="authenication_method_select">
			        <option value="">Local DB</option>
			    </select>
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>
	<div id="panel-radius_settings">

	</div>
	<div id="panel-ldap_settings">

	</div>
    </div>
</div>
