<div id="template-vlan_interfaces"  class="templateDiv"> 
<div id="div-vlan_interfaces" class="tableDiv Confirm">
    <table id="table-vlan_interfaces" class="Create Remove">
	<thead>
	    <tr>
		<th class="checkboxCol"></th>
		<th id="port">Port#</th>
		<th id="name">Name</th>
		<th id="interface">Interface</th>
		<th id="vid">VID</th>
		<th id="address">Address</th>
		<th id="dhcpPool">DHCP Pool</th>
		<th id="zone">Zone</th>
		<th class="Edit Delete">Action</th>
	    </tr>
        </thead>
    </table>
</div>
</div>
