<div id="template-vpn_passthrough"  class="templateDiv">
<div id="div-vpn_passthrough" class="formDiv Confirm">
    <form id="form-vpn_passthrough">
	<div class="labelDiv">
	    <div>
		<input type="checkbox" id="l2tp" value="Y" />
		<label for="l2tp">L2TP</label>
	    </div>
	    <div>
		<input type="checkbox" id="pptp" value="Y" />
		<label for="pptp">PPTP</label>
	    </div>
	    <div>
		<input type="checkbox" id="ipsec" value="Y" />
		<label for="ipsec">IPSec</label>
	    </div>
    	</div>
    </form>
</div>
</div>
