<div id="template-wan_settings" class="Confirm">

<div class="tableDiv">
    <table id="table-wan_settings" class="Edit Create Delete">
	<thead>
	    <tr>
		<th id="table-th-name">Name</th>
		<th id="table-th-wan_type">WAN Type</th>
		<th id="table-th-ip_address">IP Address</th>
		<th id="table-th-physical_port">Physical Port</th>
		<th id="table-th-weight">Weight</th>
		<th id="table-th-backup_of">Backup of</th>
		<th id="table-th-zone">Zone</th>
		<th id="table-th-action">Action</th>
	    </tr>
        </thead>
    </table>
</div>
<div class="cahceForm">
    <form id="ajax-wan_settings" class="ajaxForm"></form>
</div>

</div>
