<div id="template-wan_bandwidth_report" class="templateDiv">
    <div class="tabs charts">
	<ul>
	    <li id="tab-wan1"><a href="#panel-wan1">WAN1</a></li>
	    <li id="tab-wan2"><a href="#panel-wan2">WAN2</a></li>
	    <li id="tab-wan3"><a href="#panel-wan3">WAN3</a></li>
	    <li id="tab-wan4"><a href="#panel-wan4">WAN4</a></li>
	    <li id="tab-wan5"><a href="#panel-wan5">WAN5</a></li>
	    <li id="tab-wan6"><a href="#panel-wan6">WAN6</a></li>
	</ul>
	<div id="panel-wan1">
	    <div id="date-wan1">
		<fieldset class="datepickers">
		    <legend>Period</legend>
		    <b>Start Date: </b><input type="text" class="query-start" />
		    <b>End Date: </b><input type="text" class="query-end" />
		    <button class="query-button">Query</button>
		</fieldset>
	    </div>
	    <div id="chart-wan1"></div>
	</div>
	<div id="panel-wan2">
	    <div id="date-wan2">
		<fieldset class="datepickers">
		    <legend>Period</legend>
		    <b>Start Date: </b><input type="text" class="query-start" />
		    <b>End Date: </b><input type="text" class="query-end" />
		    <button class="query-button">Query</button>
		</fieldset>
	    </div>
	    <div id="chart-wan2"></div>
	</div>
	<div id="panel-wan3">
	    <div id="date-wan3">
		<fieldset class="datepickers">
		    <legend>Period</legend>
		    <b>Start Date: </b><input type="text" class="query-start" />
		    <b>End Date: </b><input type="text" class="query-end" />
		    <button class="query-button">Query</button>
		</fieldset>
	    </div>
	    <div id="chart-wan3"></div>
	</div>
	<div id="panel-wan4">
	    <div id="date-wan4">
		<fieldset class="datepickers">
		    <legend>Period</legend>
		    <b>Start Date: </b><input type="text" class="query-start" />
		    <b>End Date: </b><input type="text" class="query-end" />
		    <button class="query-button">Query</button>
		</fieldset>
	    </div>
	    <div id="chart-wan4"></div>
	</div>
	<div id="panel-wan5">
	    <div id="date-wan5">
		<fieldset class="datepickers">
		    <legend>Period</legend>
		    <b>Start Date: </b><input type="text" class="query-start" />
		    <b>End Date: </b><input type="text" class="query-end" />
		    <button class="query-button">Query</button>
		</fieldset>
	    </div>
	    <div id="chart-wan5"></div>
	</div>
	<div id="panel-wan6">
	    <div id="date-wan6">
		<fieldset class="datepickers">
		    <legend>Period</legend>
		    <b>Start Date: </b><input type="text" class="query-start" />
		    <b>End Date: </b><input type="text" class="query-end" />
		    <button class="query-button">Query</button>
		</fieldset>
	    </div>
	    <div id="chart-wan6"></div>
	</div>
    </div>
</div>
